@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   background-color: rgb(241, 241, 241);
   font-family: "Inter", sans-serif;
   width: 100vw;
   height: 100vh;
}
.container{
   width: 100vw;
   height: auto;
   display: flex;
   justify-content: center;
   flex-direction: column;
   /* background-color: rgb(2 07, 201, 193); */
   /* align-items: center; */
}
/* header{
   display: flex;
   flex-direction: column;
} */
header {
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.heading{
   display: flex;
   justify-content: center;
   font-size: 17px;
   margin-top: 5px;
   margin-bottom: 10px;
}
header .heading-desc {
    width: 40%;
    font-size: 12px;
    text-align: center;
}

/* blog container start */
.blog-container{
   display: flex;
   justify-content: center;
   position: relative;
}

.box {
    border: 1px solid black;
    width: 24%;
    position: absolute;
    /* overflow: hidden; */
}
.box .image{
   width: 100%;
   height: 100%;
}
.box .image img{
   width: 100%;
   height: 200px;
   object-fit: cover;
}
.box-des {
    margin-top: 15px;
}
.box-des .heading {
    justify-content: start;
    font-size: 14px;
    font-weight: 900;
    margin-left: 20px;
}
.box-des .desc {
    font-size: 14px;
    margin-left: 20px;
    margin-bottom: 20px;
}